image: 843222783279.dkr.ecr.us-east-1.amazonaws.com/productboard/pb-capsule:$INFRA_BASE_IMAGE_TAG

variables:
  # You should create your own ECR repository for storing images of your builds
  APP_REPOSITORY_URL: 843222783279.dkr.ecr.us-east-1.amazonaws.com/productboard/pb-rfc-notifier
  APP_IMAGE_URL: $APP_REPOSITORY_URL:pb-rfc-notifier
  # see Readme.md
  NOTION_BASE: https://www.notion.so/productboard/
  NOTION_COLLECTION: 5c15d049-96d8-4b21-bbea-218b94e848c3
  NOTION_COLLECTION_VIEW: c6c785fe-787f-4916-afb4-93b6045e60ce
  NOTION_COLLECTION_FILTER: 'Draft'

include:
  - local: '.gitlab/build.yml'
  - local: '.gitlab/test.yml'
  - local: '.gitlab/deploy.yml'

stages:
  - build
  - test
  - deploy
